<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>音量大小</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>music</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>背景灯光</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>是否打开背景灯光</string>
			<key>Key</key>
			<string>lightOn</string>
			<key>DefaultValue</key>
			<string>YES</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
